<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]-->
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <meta name='format-detection' content='telephone=no'>
  <title><%= content.title %></title>
  <link rel='stylesheet' type='text/css' href='/css/main.css'>
</head>
<body>
  <div>
    <% for(var i=0; i<largeDataSet.length; i++) {%>
      <p><%= i %></p>
      <p><%= largeDataSet[i].one %></p>
      <p><%= largeDataSet[i].two %></p>
      <p><%= largeDataSet[i].three %></p>
    <% } %>
  </div>
  <script src='/js/main.js'></script>
</body>
</html>